<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- Arguments for image_sequence_publisher -->
    <arg name="images_dir" default="/datasets/ODEMAR/130f/" />
    <arg name="camera_info_file" default="/datasets/ODEMAR/calibration.yaml" />
    <arg name="freq" default="1.0" />
    <arg name="run_image_proc" default="false" />
    <!-- Arguments for bimos -->
    <arg name="img_topic" default="/image_publisher/image_raw" />
    <arg name="working_dir" default="/home/emilio/Escritorio/Serialization/Mosaicing/" />
    <arg name="img_descriptor" default="FAST_LDB" />
    <arg name="nkeypoints" default="3000" />
    <arg name="pub_debug_info" default="true" />
    <arg name="lc_delay_kfs" default="3" />
    <arg name="match_ratio" default="0.8" />
    <arg name="min_inliers" default="170" />
    <arg name="optim_every_kfs" default="15" />
    <arg name="blend_exp" default="false" />
    <arg name="kf_min_inliers" default="550" />
    <arg name="kf_overlap" default="0.4" />

    <!-- Mosaic Builder node -->
    <node pkg="bimos" type="bimos_node" name="bimos_node" output="screen">
        <param name="working_dir" value="$(arg working_dir)" />
        <param name="img_descriptor" value="$(arg img_descriptor)" />
        <param name="nkeypoints" value="$(arg nkeypoints)" />
        <param name="pub_debug_info" value="$(arg pub_debug_info)" />
        <param name="lc_delay_kfs" value="$(arg lc_delay_kfs)" />
        <param name="match_ratio" value="$(arg match_ratio)" />
        <param name="min_inliers" value="$(arg min_inliers)" />
        <param name="optim_every_kfs" value="$(arg optim_every_kfs)" />
        <param name="blend_exp" value="$(arg blend_exp)" />
        <param name="kf_min_inliers" value="$(arg kf_min_inliers)" />
        <param name="kf_overlap" value="$(arg kf_overlap)" />

        <remap from="~image" to="$(arg img_topic)" />
    </node>

    <!-- Sequence Publisher node -->
    <node pkg="bimos" type="image_publisher" name="image_publisher" output="screen">
        <param name="images_dir" value="$(arg images_dir)" />
        <param name="camera_info_file" value="$(arg camera_info_file)" />
        <param name="freq" value="$(arg freq)" />
    </node>

    <group if="$(arg run_image_proc)" ns="image_publisher">
        <node pkg="image_proc" type="image_proc" name="image_proc" output="screen" />
    </group>

</launch>
